.header {
  padding: 18px 70px 18px;
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 34px;
  height: 34px;
}

.header__link {
  
}