.header {
  min-width: 100%;
  background-color: #073042;
}

.header_nobackground {
  background-color: transparent;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px 18px;
}

.header__logo {
  width: 34px;
  height: 34px;
}

.header__logo:hover {
  opacity: .7;
}

@media screen and (max-width: 850px) {
  .header__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 450px) {
  .header__container {
    padding-left: 14px;
    padding-right: 14px;
  }
}