.filtercheckbox {
  display: flex;
  margin: 30px 0 40px;
  justify-content: center;
  align-items: center;
}

.filtercheckbox__button {
  background-image: url(../../images/smalltumb.svg);
  width: 36px;
  height: 20px;
  border-style: none;
  background-color: transparent;
  padding: 0;
}

.filtercheckbox__button_active {
  background-image: url(../../images/smalltumboff.svg);
  width: 36px;
  height: 20px;
  border-style: none;
  background-color: transparent;
  padding: 0;
}

.filtercheckbox__name  {
  margin: 0 0 0 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}